.features {
    text-align: center;
    /* margin-top: 50px; */
    margin-bottom: 50px;
}
/* .headerTextFeatures {
    color:#800080;
    font-family: 'Metropolis';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
} */
.headerTextFeatures {
    color:#800080;
    font-family: 'Metropolis';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 50px;
}
.featureTopic {
    width: 80%;
    margin: 0 auto;
    max-width: 622px;
    color:#FFF;
    font-family: 'ClashDisplay-Medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 15px;
}
.featureDetail {
    color: #EAEAEA;
    width: 80%;
    margin: 0 auto;
    max-width: 560px;
    font-family: 'Metropolis';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 50px;
}
.featuesButtonText {
    width: 227px;
    height: 54px;
    color: #800080;
    font-family: 'ClashDisplay-Medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #191A1D;
    margin-bottom: 20px;
}
.featuresSubDetail {
    color: #EAEAEA;
    font-family: 'Metropolis';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    width: 85%;
    margin: 0 auto;
    max-width: 413px;
    margin-bottom: 50px;
}
.horizontalDivider {
    width: 80%;
    height: 1px;
    background: #800080;
    margin: 0 auto;
    max-width: 579px;
    margin-bottom: 50px;
    margin-top: 30px;
}
@media screen and (min-width: 768px) {
    .headerTextFeatures {
        font-size: 40px;
    }
}
@media screen and (min-width: 1024px) {
    .features1SecondPart,
    .features2SecondPart {
        display: flex;
        justify-content: space-around;
    }
    .featuesButtonText {
        margin: 0;
        width: 286px;
    }
    .featuresSubDetail {
        font-size: 22px;
        text-align: left;
        line-height: 26.4px;
    }
    .features1SecondPart1stDiv,
    .features2SecondPart3rdDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .horizontalDivider {
        width: 1px;
        height: 494px;
        margin: 0;
    }
    .featuresSubDetail {
        width: 100%;
        margin: 0;
    }
}