.comingSoonDiv {
    display: flex;
    width: 130px;
    margin: 20px auto 50px auto;
    height: 40px;
    color: #FFF;
    font-family: 'Metropolis';
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgba(255, 138, 0, 0.60);
    box-shadow:
    0 0 0 10px rgba(255, 138, 0, 0.60),
    0 0 0 20px rgba(255, 138, 0, 0.40),
    0 0 0 30px rgba(255, 138, 0, 0.20),
    0 0 20px 40px rgba(255, 138, 0, 0.20);
    animation:
        sunrise 0.5s infinite linear forwards,
        rays 0.5s 0.5s infinite linear;
}
.heroHeaderText {
    width: 75%;
    margin: 0 auto 10px auto;
    font-family: 'ClashDisplay-SemiBold';
    color: #FFF;
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.96px;
}
.heroText {
    width: 75%;
    margin: 0 auto 20px auto;
    color: #FFF;
    font-size: 16px;
    font-family: 'Metropolis';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.joinWaitlistFirstButton {
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #FFF;
    font-weight: 600;
    border-right: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    background: #800080;
    transition: color .5s, border-right .5s, border-bottom .5s, background .5s;
}
.joinWaitlistFirstButton:hover {
    color: #800080;
    background: #fff;
    border-right: 3px solid #800080;
    border-bottom: 3px solid #800080;
}
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding: 30px 0;
}
.menuIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuIcon:hover {
    border-radius: 50%;
    background-color: #404040;
}
.hSlogo {
    background-image: url(../assets/192f4d2affe78495a35e5e8162df7bff.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 109px;
    height: 23px;
}
.phoneAndComingWrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 308px;
}
.phoneComponents {
    display: flex;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
}
.phoneComponents img {
    position: relative;
    width: 148px;
    height: 299.462px;
}
.secondphoneComponent {
    top: 45px;
}
.firstphoneComponent, .thirdphoneComponent, .fourthphoneComponent {
    top: 125px;
}
.rightToLeft {
    animation: rightToLeft 3s infinite linear;
}
.leftToRight {
    animation: leftToRight 3s infinite linear;
}
.formEmail {
    position: relative;
    width: 90%;
    max-width: 350px;
    margin: 0 auto 0 auto;
}
.inputLabel1 {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    margin: 0 auto 10px auto;
}
.inputLabel1 input {
    background: transparent;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    border: 1px solid rgba(153, 157, 160, 0.60);
    border-radius: 10px;
    color: #808080;
}
.inputLabel1 span {
    position: absolute;
    top: 6px;
    left: 2px;
    font-size: 18px;
    padding: 0 10px;
    color: #808080;
    box-sizing: border-box;
    transition: 0.3s;
    pointer-events: none;
    line-height: 25px;
    width: 95%;
    background: black;
    border-radius: 5px;
}
.inputLabel1 input:valid ~ span,
.inputLabel1 input:focus ~ span {
    color: rgba(153, 157, 160, 0.60);
    background: black;
    padding-left: 5px;
    width: auto;
    transform: translateX(5px) translateY(-20px);
}
.formEmail .formDiv input:focus,
.formEmail .formDiv input:hover {
    border: 1px solid rgba(153, 157, 160, 0.35);
}
.comingSoon {
    position: absolute;
    width: 100%;
    align-self: flex-end;
    background-color: #FFB3FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    overflow: hidden;
}
.scroll {
    width: 100%;
    display: flex;
}
.scroll div {
    color: #404040;
    font-family: 'ClashDisplay-Medium';
    font-size: 20px;
    white-space: nowrap;
    font-weight: 600;
    padding: 0 5px;
    letter-spacing: 1px;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
}
.scroll div:nth-child(2) {
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
}
.text2 div  {
    animation: animate3 40s linear infinite;
    animation-delay: -40s;
}
.text2 div:nth-child(2)  {
    animation: animate4 40s linear infinite;
    animation-delay: -20s;

}
@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}
@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes sunrise {
    0% {
        box-shadow: none;
	}
}

@keyframes rays {
	0% {
        box-shadow: 
			0 0 0 0 rgba(255, 138, 0, 0.60),
			0 0 0 10px rgba(255, 138, 0, 0.60),
			0 0 0 20px rgba(255, 138, 0, 0.40),
			0 0 0 30px rgba(255, 138, 0, 0.20),
			0 0 20px 40px rgba(255, 138, 0, 0.20);
	}
	100% {
		box-shadow: 
			0 0 0 10px rgba(255, 138, 0, 0.60),
			0 0 0 20px rgba(255, 138, 0, 0.40),
			0 0 0 30px rgba(255, 138, 0, 0.20),
			0 0 20px 40px rgba(255, 138, 0, 0.20);
	}
}
@media screen and (min-width: 768px) {
    .heroHeaderText {
        width: 75%;
        text-align: center;
    }
    .heroText {
        width: 70%;
        text-align: center;
    }
}
@media screen and (min-width: 1024px) {
    .top {
        display: none;
    }
    .heroHeaderText {
        font-size: 40px;
        line-height: 45px;
    }
    .heroText {
        margin-bottom: 30px;
    }
    .formEmail {
        max-width: 730px;
    }
    .formEmail .formDiv {
        display: flex;
        gap: 10px;
    }
    .formEmail .formDiv .inputLabel1 {
        margin-bottom: 0;
    }
    .formEmail .formDiv input {
        margin-bottom: 0;
        padding-left: 20px;
        border-color: #800080;
    }
    .inputLabel1 span {
        width: 65%;
    }
    .joinWaitlistFirstButton {
        width: 230px;
        height: 45px;
    }
    .phoneComponents img {
        width: 267px;
        height: 541px;
    }
    .comingSoon {
        height: 200px;
    }
    .scroll div {
        font-size: 48px;
    }
    .phoneAndComingWrapper {
        height: 555px;
    }
    .firstphoneComponent, .thirdphoneComponent, .fourthphoneComponent {
        top: 185px;
    }
}