.navBar {
    display: none;
}
.navBar.open {
    position: fixed;
    width: 100%;
    background: #FFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navBarLogo {
    width: 201px;
    height: 60px;
    margin: 0 auto;
    margin-top: 30px;
}
.navBar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    > li {
        margin: 25px 0;
        cursor: pointer;
    }
    > li:first-child {
        font-weight: 700;
        color: #800080;
    }
}
.purpleButton .closeButton {
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.joinWaitListpurpleButton {
    display: none;
}
@media screen and (min-width: 1024px) {
    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .navBarLogo {
        margin: 0;
        /* width: 130px; */
        /* height: 27.19px; */
        width: 158px;
        height: 27px;
    }
    .closeBtnpurpleButton {
        display: none;
    }
    .joinWaitListpurpleButton {
        display: block;
    }
    .purpleButton .joinWaitlistNavButton {
        width: 175px;
        height: 60px;
        font-size: 20px;
        font-weight: 500;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
    }
    .navBar ul {
        flex-direction: row;
        font-size: 16px;
        gap: 55px;
        > li {
            color: #808080;
            text-transform: capitalize;
            transition: transform 0.3s ease;
        }
        > li:first-child {
            color: #FFF;
            position: relative;
        }
        > li:first-child a::after {
            content: "";
            background: white;
            display: block;
            width: 100%;
            height: 3px;
        }
    }
}