.error-message {
    color: red;
}
.success-message {
    color: blue;
}
.scheduleACall {
    width: 80%;
    margin: 0 auto;
}
.scheduleACall h1 {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}
.scheduleACall .mainForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.scheduleACall .mainForm div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.scheduleACall label {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.scheduleACall input,
.scheduleACall select,
.scheduleACall textarea {
    border-radius: 10px;
    border: 1px solid rgba(153, 157, 160, 0.35);
    font-size: 14px;
    padding: 15px 12px;
}
.scheduleACall textarea {
    height: 185px;
}
#schedulingACall {
    width: 100%;
    max-width: 100%;
}
.scheduleButton .button2 {
    max-width: 350px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}
.closeModalSchedule button {
    background: red;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    max-width: 350px;
}
@media screen and (min-width: 1024px) {
    .scheduleACall h1 {
        font-size: 30px;
    }
    .scheduleACall label {
        font-size: 20px;
    }
    .scheduleACall input,
    .scheduleACall select,
    .scheduleACall textarea {
        font-size: 15px;
    }
}