@font-face {
    font-family: ClashDisplay-Extralight;
    src: url(./fonts/ClashDisplay/ClashDisplay-Extralight.otf);
}
@font-face {
    font-family: ClashDisplay-Light;
    src: url(./fonts/ClashDisplay/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Regular;
    src: url(./fonts/ClashDisplay/ClashDisplay-Regular.otf);
}
@font-face {
    font-family: ClashDisplay-Medium;
    src: url(./fonts/ClashDisplay/ClashDisplay-Medium.otf);
}
@font-face {
    font-family: ClashDisplay-SemiBold;
    src: url(./fonts/ClashDisplay/ClashDisplay-Semibold.otf);
}
@font-face {
    font-family: ClashDisplay-Bold;
    src: url(./fonts/ClashDisplay/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: Metropolis-Medium;
    src: url(./fonts/Metropolis/Metropolis-Medium.otf);
}
@font-face {
    font-family: Metropolis;
    src: url(./fonts/Metropolis/Metropolis-Regular.otf);
}
@font-face {
    font-family: Metropolis-ExtraLight;
    src: url(./fonts/Metropolis/Metropolis-ExtraLight.otf);
}
* {
    margin: 0;
    padding: 0;
}
::selection {
    background-color: #800080;
    color: black;
}
.App {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #000;
}
li {
    list-style: none;
}
button {
    border: none;
    cursor: pointer;
}