* {
    margin: 0;
    padding: 0;
}
.App {
    font-family: 'Lato', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
li {
    list-style: none;
}
button {
    border: none;
    cursor: pointer;
}
form {
    width: 90%;
    max-width: 350px;
    margin: 0 auto 40px auto;
    > div {
        > input {
            width: 100%;
            box-sizing: border-box;
            margin: 0 auto 20px auto;
            background: transparent;
            color: #808080;
            font-size: 16px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid rgba(153, 157, 160, 0.60);
        }
    }
}
@media screen and (min-width: 1024px) {
    form {
        max-width: 730px;
        > div {
            display: flex;
            justify-content: space-between;
            margin-left: 0;
            margin-right: 0;
            > input {
                margin-left: 0;
                margin-right: 0;
                max-width: 492px;
            }
        }
    }
}